<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    <section class="alugel">
        <h2>locaçao de casas</h2>
        
        <div class="container">
           
                <div>
                   
                   
                </div>
           
        </div>
        
    </section>
</body>
</html>