<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>casas perfct</title>


    <section class="home">
        <div class="banner">
            <h2>já olhou sua casa perfeita hoje</h2>
            <img src="/static/banner.jpg" alt="">
        </div>
        
        <form method="POST" action="/">
            <h2>Entre em contato:</h2>
            <input type="text" placeholder="nome" name="nome">
            <input type="text" placeholder="email" name="email">
            <textarea rows="10" placeholder="mensagem" name="mensagem"></textarea>
            
            <button>Enviar</button>
        </form>
    </section>
    
 
</body>
</html>
© 2018 GitHub, Inc.