<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

    <p>
        HIDIRLENE DUSZEIKO, Leiloeira Pública Oficial, nomeada pelo MM. Juiz Federal da 2ª
        Vara Federal de Execução Fiscal de Vitória, Seção Judiciária do Espírito Santo, Dr. ALCEU
        MAURÍCIO JUNIOR, FAZ SABER, a todos quantos virem, ou tiverem conhecimento do
        presente EDITAL, que a 2ª Vara Federal de Execução Fiscal de Vitória, levará à venda em
        arrematação pública, nas modalidades PRESENCIAL e ELETRÔNICO, nas datas, local e sob
        as condições adiante descritas, os bens penhorados nos autos das ações a seguir relacionadas:
        01) AÇÃO DE EXECUÇÃO FISCAL nº. 0002187-26.1900.4.02.5001 (00.0002187-3)
        EXEQUENTE(S): UNIÃO FEDERAL
        EXECUTADO(S): CONSTRUTORA NORTE SUL LTDA. e CONCAPRE INDÚSTRIA E
        COMÉRCIO LTDA.
        ADVOGADO(S): ES009381 - RONES FONTURA DE SOUZA
        CDA’S: 2230
        BEM(NS): Uma área de terreno urbana medindo 144.245,37m² (cento e quarenta e quatro mil,
        duzentos e quarenta e cinco metros quadrados e trinta e sete decímetros quadrados), em abertas,
        remanescente de maior área que media 152.244,10m², situado no lugar Boa Vista, na Fazenda
        Monte Cristo, em Cachoeiro de Itapemirim/ES, confrontando pelos seus diversos lados com a
        Margramar Mineração Ltda, Loteamento Cancapre, Castorina Passoni, Igreja Batista do IBC,
        Antônio Jorge Cabral Borges, Remy Tirelo, Roberto Misse e César Misse. Obs.: Imóvel situado
        no Bairro IBC iniciando-se pela Rua Andrelina Negreli, que é parcialmente calçada, encerrandose
        nas proximidades da Rua Adolfo Marins. Região em expansão imobiliária, topografia em
        aclive em relação à rua, coberta por vegetação rasteira e por fragmento de mata, sem
        benfeitorias. Imóvel registrado sob nº. 32.349 no Cartório de Registro Geral de Imóveis do 1º
    </p>    
</body>
</html>
